{% extends './base.html' %}
{% block content %}
    <h2>Registrar Suplidor de Componentes</h2>
    <form action="/suplidor/" method="post">
        {% csrf_token %}
        <br><br>
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <br><br>
    <table class="table table-bordered">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <th>Suplidor</th>
                <th>Componente</th>
                <th>Tiempo de Entrega (dias)</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if suplidores %}
                {% for suplidor in suplidores %}
                    <tr>
                        <td>{{suplidor.codigoSuplidor}}</td>
                        <td>{{suplidor.codigoArticulo}}</td>
                        <td>{{suplidor.tiempoEntrega}}</td>
                        <td>{{suplidor.precioCompra}}</td>
                        <td><a href="{% url 'suplidor_delete' suplidor.codigoSuplidor %}" class="btn btn-outline-danger">Eliminar</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock content %}